{{/* Place the style block at the top */}}
<style>
.skill-icon {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-right: 10px; /* space between icons */
    /* Comment out the animation if you only want the float effect on hover */
    /* animation: floatEffect 1.5s infinite ease-in-out; */
}

.skill-icon:hover {
    transform: translateY(-5px); /* Moves the icon up on hover */
}

@keyframes floatEffect {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
</style>

{{/* Your main content follows */}}
{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5">
            {{ if .Site.Params.about.image }}
            <div class="col-sm-12 col-md-8 col-lg-4 mb-5 mb-sm-0 mb-md-5 mb-lg-0 d-none d-sm-none d-md-block">
                <div class="image d-flex px-5">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail mx-auto rounded-circle" alt="">
                </div>
            </div>
            {{ end }}
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                {{ .Site.Params.about.content | markdownify }}

                {{ if .Site.Params.about.skills.enable }}
                {{ with .Site.Params.about.skills }}
                <br/>
                <br/>
                <p>{{ .title }}</p>
                {{ end }}
                <div class="skills-icons">
                    {{ range .Site.Params.about.skills.items }}
                    <img src="https://skillicons.dev/icons?i={{ . | urlize }}" alt="{{ . }}" class="skill-icon">
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
